a{
    text-decoration: none;
    .color {
        color: rgb(175, 79, 6);
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
        margin-top: $margenTB;
        margin-bottom: $margenTB;
        transition: color 1s;
    }
}
a:hover .color{
    color: black;
}

.altura{
    height: 30rem;
}

section{
    h1{
        margin: $margenTB auto;
        text-align: center;
    }
    div{
        div{
            div{
                img{
                    margin: $margenTB auto;
                    border-radius: 3rem;
                }
                p{
                    margin: $margenTB 0 2rem;
                }
                
            }
        }
    }
}

.informacion{
    margin-top: $margenRL;
    margin-bottom: $margenRL;
    div{
        margin-top: $margenTB;
        margin-bottom: $margenTB;
        
        div{
            text-align: center;
            border: 5px solid rgb(0, 0, 0);
            margin: $margenTB auto;
            background-color: rgb(175, 79, 6);
            border-radius: 3rem;
            img{
                margin: 3rem;
            }   
            p{
                text-align: center;
                margin: 3rem;
                font-size: 3rem;
                font-family: 'Anton', sans-serif;
                color: white;
            }
        }
    }
}

