.color {
    color: rgb(175, 79, 6);
    font-size: 3.5rem;
    font-weight: 800;
}

.actividadMusculacion{
    text-align: center;
    margin: 2rem;
}



section{
    @include margen (20rem, 20rem);
}

.margen{
    margin-bottom: 20rem;
    margin-top: 10rem;
}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 1150px) {
    
}