.contacto {
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin: 6rem;
}

.formulario{
    text-align: center;
    padding: 3rem;
    margin: $margenTB auto;
    font-size: 3rem;
    background-color: rgb(175, 79, 6);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border: 6px solid #000000;
    border-radius: 3rem;
    button{
        background-color: white;
        color: black;
        border-radius: 3rem;
    }
   
    .consulta{
        background-color: white;
        color: black;
        font-size: 2rem;
        margin-bottom: $margenTB;
        border-radius: 3rem;
    }
    input{
        @extend .consulta;
    }
    textarea{
        @extend .consulta;
    }
}

