@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Kanit:wght@800&family=Pacifico&family=Roboto:wght@300&family=Titillium+Web&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

$margenTB: 5rem;
$margenRL: 10rem;

header{
    background-color: #f18306;
    h1{
        color: rgb(255, 255, 255);
        background-color: #000000;
        font-family: 'Kanit', sans-serif;
        text-align: center;
        padding: 4rem;
        font-size: 4.5rem;
        margin-top: $margenTB;
        margin-bottom: $margenTB;
    }
    h2{
        color: rgb(26, 25, 25);
        font-family: 'Hind', sans-serif;
        text-align: center;
        padding: 4rem;
        font-size: 4.5rem;
    }
    div {
        p{
        text-align: left;
        padding-bottom: 6rem;
        font-size: 2rem;
        color: #0f0505;
        margin-top: $margenTB;
        margin-bottom: $margenTB;
    }
    a{
        h1{
            font-family: 'Pacifico', cursive;
            font-size: 3rem;
            background-color: #f18306;
            color: black;
        }
        
    }
}

    img{
        margin-top: 5rem;
        margin-bottom: $margenTB;
        border-radius: 3rem;
    }

}

.navegador{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}



.logo{
    width: 12rem;
    height: 12rem;
}

body{
    background-color: #ffffff;
}

footer{
    background-color: #e97e04;
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon{
    width: 4rem;
    height: 4rem;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}


h1{
    color: rgb(175, 47, 5);
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding: 4rem;
    font-size: 4.5rem;
}

h2{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    padding: 2rem;
    border: 1rem;
    margin: 1.5rem;
    font-size: 3.5rem;
    font-weight: 800;
}

h3{
    color: rgb(184, 54, 40);
    font-family: 'Titillium Web', sans-serif;
    font-size: 3rem;
    padding: 3rem;
    border: 1.5rem;
    margin: 2rem;
}

h4{
    color: rgb(97, 3, 3);
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}
h5{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    text-align: center;
}

p{
    font-family: 'Hind', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
}

@media screen and (min-width: 600px) {



    nav ul {
        img{
        width: 15rem;
        height: 15rem;
        }
        li{
        list-style-type: none;
        margin: 2rem;
        }
    }

    h4{
        color: rgb(97, 3, 3);
        font-family: 'Titillium Web', sans-serif;
        font-size: 1.6rem;
        text-align: center;
    }
}

