@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hind:wght@500&family=Kanit:wght@800&family=Pacifico&family=Roboto:wght@300&family=Titillium+Web&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

$margenTB: 5rem;
$margenRL: 10rem;

header{
    background-color: rgb(175, 79, 6);
    nav{
        div{
            a{
                h1{
                    font-size: 3.5rem;
                    font-family: 'Anton', sans-serif;
                    color: white;
                    transition: color 0.2s;
                }
            }
        }
    }
}

a:hover h1{
    color: black;
}


.navegador{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    transition: color 0.2s;
}

a:hover .navegador{
    color: #ffffff;
}




.logo{
    width: 12rem;
    height: 12rem;
}

body{
    background-color: #ffffff;
}

footer{
    background-color: rgb(175, 79, 6);
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon{
    width: 4rem;
    height: 4rem;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

p{
    font-family: 'Hind', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
}

.font{
    color: rgb(175, 79, 6);
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
        margin-top: $margenTB;
        margin-bottom: $margenTB;
}

@media screen and (min-width: 600px) {



    nav ul {
        img{
        width: 15rem;
        height: 15rem;
        }
        li{
        list-style-type: none;
        margin: 2rem;
        }
    }

   
}

