a .imgActividades{
    height: 10rem;
    width: 10rem;
    margin: 2rem;
    transition: height 1s, width 1s;
}

a:hover .imgActividades {
    height: 7rem;
    width: 7rem;
}

.imgBoulevard{
    margin: 6rem;
}



@media screen and (min-width: 600px) {

    a .imgActividades{
        margin: 4rem;
        transition: height 1s, width 1s;
    }

    a:hover .imgActividades {
        height: 7rem;
        width: 7rem;
    }

    .altura{
        height: 60rem;
    }

    div{
        .margen{
            p{
                font-size: 5rem;
            }
        }
    }
}

@media screen and (min-width: 1150px) {

    a .imgActividades{
        margin: 2rem;
        transition: height 1s, width 1s;
    }

    a:hover .imgActividades {
        height: 8rem;
        width: 8rem;
    }

    .imgIntro div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .altura{
        height: 30rem;
    }

    .alturaInicio{
        height: 60rem;  
    }

    div{
        .margen{
            p{
                font-size: 2.5rem;
            }
        }
    }
}