a .imgActividades{
    height: 10rem;
    width: 10rem;
    margin: 2rem;
    transition: height 1s, width 1s;
}

a:hover .imgActividades {
    height: 7rem;
    width: 7rem;
}

.imgBoulevard{
    margin: 6rem;
}

.margen{
    margin-bottom: $margenTB;
    margin-top: $margenTB;
    p{
        font-family: 'Kanit', sans-serif;
        font-size: 3rem;
        background-color: #f18306;
        margin-top: $margenRL;
        margin-bottom: $margenRL;
        color: aliceblue;
    }
    a{
        text-decoration: none;
        color: rgb(245, 218, 178);
    }
}



@media screen and (min-width: 600px) {

    a .imgActividades{
        margin: 4rem;
        transition: height 1s, width 1s;
    }

    a:hover .imgActividades {
        height: 7rem;
        width: 7rem;
    }

    .altura{
        height: 60rem;
    }
}

@media screen and (min-width: 1150px) {

    a .imgActividades{
        margin: 2rem;
        transition: height 1s, width 1s;
    }

    a:hover .imgActividades {
        height: 8rem;
        width: 8rem;
    }

   
    
}