
    .nosotros{
        h3{
            font-family: 'Anton', sans-serif;
            font-size: 3rem;
            text-align: center;
            margin: $margenTB auto;
        }
        p{
            font-family: 'Hind', sans-serif;
            font-size: 2.2rem;
            color: rgb(0, 0, 0);  
            margin: $margenTB auto;
            text-align: center;
        }
    }

    .imgNosotros{
        margin: $margenTB auto;
        border-radius: 2rem;
    }

    .album{
        margin-top: $margenTB;
        margin-bottom: $margenTB;
        border: 5px solid rgb(175, 79, 6);
        padding: 4rem;
        border-radius: 2rem;
        h2{
            color: black;
            font-family: 'Kanit', sans-serif;
            font-size: 3rem;
            text-align: center;
            margin-top: $margenTB;
        }
    }
    
    @mixin margen ($margenTB, $margenRL) {
        margin-top: $margenTB;
        margin-bottom: $margenRL;
    }
    
    .foto{
        @extend .album;
        padding: 0;
        border: 3px solid orangered;
        @include margen (6rem, 6rem);
    }
