.producto{
    margin-bottom: 3rem;
    background-color: rgb(24, 23, 23);
}

.boton{
    margin: 2rem;
    background-color: black;
}

.info{
    background-color: rgb(24, 23, 23);
}

.tarjeta{
    background-color: rgb(92, 39, 2);
}

