@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@100&family=Montserrat&family=Open+Sans:wght@300&family=Roboto:wght@500&family=Rubik:wght@300&family=Source+Sans+Pro:wght@300&family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

header{
    background-image: linear-gradient(0, #212a2b 0, #1c2020 25%, #161515 50%, #0f0505 75%, #060000 100%);
}

header h1{
    color: rgb(236, 233, 232);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 4rem;
    font-size: 4.5rem;
}

header h2{
    color: rgb(236, 233, 232);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 4rem;
    font-size: 4.5rem;
}

.navegador{
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.logo{
    width: 12rem;
    height: 12rem;
}

body{
    background-color: #1c2020;
}

header div p{
    text-align: center;
    padding-bottom: 4rem;
    font-size: 3rem;
}

a .imgBoulevard{
    margin: 2rem;
    transition: height 1s, width 1s;
}

a:hover .imgBoulevard {
    height: 7rem;
    width: 7rem;
}

.actividades{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}


footer{
    grid-area: footer;
    background-image: linear-gradient(0, #212a2b 0, #1c2020 25%, #161515 50%, #0f0505 75%, #060000 100%);
    font-family: 'Kanit', sans-serif;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon{
    width: 4rem;
    height: 4rem;
}


.horario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem;
}
.numero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem;
}


h1{
    color: rgb(224, 61, 7);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    padding: 4rem;
    font-size: 4.5rem;
}

h2{
    color: rgb(192, 187, 183);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 2rem;
    border: 1rem;
    margin: 1.5rem;
    font-size: 3.5rem;
    font-weight: 800;
}

h3{
    color: rgb(184, 54, 40);
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    padding: 3rem;
    border: 1.5rem;
    margin: 2rem;
}

h4{
    color: rgb(97, 3, 3);
    font-family: 'Titillium', sans-serif;
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
}

.subtitulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
    
p{
    font-family: 'Montserrat', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    color: aliceblue;
   
}

li{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
}

.color {
    color: rgb(184, 180, 177);
    font-size: 6rem;
    font-weight: 800;
}

ul li{
    list-style: none;
}


.salud{
    display: grid;
    grid-template-columns: 30vh ;
    grid-template-rows: 30vh 30vh 30vh 30vh 30vh 30vh;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.circle{
    font-family: 'Rubik', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: aliceblue;
}

.actividadMusculacion{
    text-align: center;
    padding: 3rem;
    border: 2rem;
    margin: 2rem;
}

.spinning{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}
.spinning iframe{
    margin: 3rem;
}

.contacto {
    font-family: 'Rubik', sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin: 6rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    font-size: 3rem ;
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
    width: 70rem;
    height: 40rem;
}

.proteina{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    padding: 3rem;
    border: 2rem;
    margin: 4rem;
}

.imgProteina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.creatina{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    padding: 3rem;
    border: 2rem;
    margin: 4rem;
}

.imgCreatina{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

.shaker{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    padding: 3rem;
    border: 2rem;
    margin: 4rem;
}

.imgShaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7rem;
}

.boton{
    margin: 2rem;
}

.tarjetas{
    height: 50rem;
}



@media screen and (min-width: 600px) {

    header{
        background-image: linear-gradient(0, #212a2b 0, #1c2020 25%, #161515 50%, #0f0505 75%, #060000 100%);
    }

    nav ul img{
        width: 15rem;
        height: 15rem;
        grid-area: logo;
    }
    
    ul li{
        list-style-type: none;
        margin: 2rem;
    }

    a .imgBoulevard{
        margin: 4rem;
        transition: height 1s, width 1s;
    }

    a:hover .imgBoulevard {
        height: 7rem;
        width: 7rem;
    }

    .actividades{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 3rem;
        justify-content: space-around;
    }


    .altura{
        height: 60rem;
    }
    
  

    .proteina{
        display: grid;
        grid-template-columns: 35vh 35vh;
        grid-template-rows: 60vh 60vh 60vh 60vh;
        justify-content: space-around;
        padding: 3rem;
        border: 2rem;
        margin: 4rem;
    }

    .imgProteina{
        display: flex;
        flex-direction: column;
        margin: 5rem;
        padding: 4rem;
    }

    .creatina{
        display: grid;
        grid-template-columns: 35vh 35vh;
        grid-template-rows: 60vh 60vh;
        justify-content: space-around;
        padding: 3rem;
        border: 2rem;
    }
    
    .imgCreatina{
        display: flex;
        flex-direction: column;
        margin: 2rem;
        padding: 4rem;
    }
    
    .shaker{
        display: grid;
        grid-template-columns: 35vh 35vh;
        grid-template-rows: 60vh 60vh;
        justify-content: space-around;
        padding: 3rem;
    }
    
    .imgShaker{
        display: flex;
        flex-direction: column;
        margin: 4rem;
    }

    h4{
        color: rgb(97, 3, 3);
        font-family: 'Titillium', sans-serif;
        font-size: 1.6rem;
        text-align: center;
    }

    .salud{
        display: grid;
        grid-template-columns: 30vh 30vh;
        grid-template-rows: 20vh 20vh 20vh;
        column-gap: 3rem;
        row-gap: 3rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .circle{
        font-family: 'Rubik', sans-serif;
        font-size: 2rem;
        font-weight: bold;
    }

}

@media screen and (min-width: 1150px) {

    a .imgBoulevard{
        margin: 2rem;
        transition: height 1s, width 1s;
    }

    a:hover .imgBoulevard {
        height: 8rem;
        width: 8rem;
    }

   
    .imgIntro div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    h4{
        color: rgb(97, 3, 3);
        font-family: 'Titillium', sans-serif;
        font-size: 1.6rem;
        text-align: left;
        font-weight: 300;
    }

    p {
        font-family: 'Rubik', sans-serif;
        font-size: 1.7rem;
        margin: 4rem;
    }

    .salud{
        display: grid;
        grid-template-columns: 30vh 30vh;
        grid-template-rows: 20vh 20vh 20vh;
        column-gap: 3rem;
        row-gap: 3rem;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .circle{
        font-family: 'Rubik', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 2rem;
        
    }

    main p{
        font-size: 2.5rem;
        text-align: center;
    }

    .altura{
        height: 30rem;
    }

    .alturaInicio{
        height: 60rem;  
    }
}



