@import url("https://fonts.googleapis.com/css2?family=Anton&family=Hind:wght@500&family=Kanit:wght@800&family=Pacifico&family=Roboto:wght@300&family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  background-color: rgb(175, 79, 6);
}
header nav div a h1 {
  font-size: 3.5rem;
  font-family: "Anton", sans-serif;
  color: white;
  transition: color 0.2s;
}

a:hover h1 {
  color: black;
}

.navegador {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  transition: color 0.2s;
}

a:hover .navegador {
  color: #ffffff;
}

body {
  background-color: #ffffff;
}

footer {
  background-color: rgb(175, 79, 6);
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  text-align: left;
}
footer div div div div {
  margin: 5rem auto;
}
footer div div div div a {
  color: white;
}
footer div div div div p {
  color: #ffffff;
}
footer div div div a:hover .pie {
  color: black;
}
footer div div iframe {
  margin: 5rem auto;
}

.icon {
  width: 4rem;
  height: 4rem;
}

p {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
}

.font {
  color: rgb(175, 79, 6);
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 600px) {
  nav ul img {
    width: 15rem;
    height: 15rem;
  }
  nav ul li {
    list-style-type: none;
    margin: 2rem;
  }
}
a .imgActividades {
  height: 10rem;
  width: 10rem;
  margin: 2rem;
  transition: height 1s, width 1s;
}

a:hover .imgActividades {
  height: 7rem;
  width: 7rem;
}

.margen {
  margin: 20rem auto;
  border: 5px solid black;
  border-radius: 2rem;
  text-align: center;
  background-color: rgb(175, 79, 6);
}
.margen p {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  margin-top: 10rem;
  margin-bottom: 5rem;
  color: white;
}
.margen a {
  text-decoration: none;
  color: black;
}

.inicio {
  margin-top: 5rem;
}
.inicio div div h1 {
  color: rgb(59, 59, 58);
  font-size: 4rem;
  font-family: "Kanit", sans-serif;
  text-align: left;
  padding: 3rem;
  margin-top: 5rem;
  margin-bottom: 7rem;
}
.inicio div div h1 strong {
  color: rgb(175, 79, 6);
}
.inicio div div p {
  font-family: "Hind", sans-serif;
  font-size: 2.8rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
}
.inicio div div img {
  border-radius: 2rem;
  margin-top: 5rem;
}
.inicio div h2 {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  padding: 3rem;
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 5rem;
  background-color: rgb(175, 79, 6);
  color: white;
  border-radius: 2rem;
  border: 5px solid black;
}

.imgInicio:hover {
  filter: grayscale(80%);
}

@media screen and (min-width: 1200px) {
  .inicio div h2 {
    font-size: 3.5rem;
  }
  .inicio div div p {
    text-align: left;
    font-size: 1.7rem;
  }
  .inicio div div h1 {
    text-align: left;
    font-size: 5rem;
  }
  .inicio div div img {
    margin-top: 10rem;
  }
  .margen p {
    font-size: 3rem;
  }
}
a {
  text-decoration: none;
}
a .color {
  color: rgb(175, 79, 6);
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  transition: color 1s;
}

a:hover .color {
  color: black;
}

.altura {
  height: 30rem;
}

section h1 {
  margin: 5rem auto;
  text-align: center;
}
section div div div img {
  margin: 5rem auto;
  border-radius: 3rem;
}
section div div div p {
  margin: 5rem auto;
  text-align: center;
  font-size: 1.6;
}

.informacion {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
.informacion div {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.informacion div div {
  text-align: center;
  border: 5px solid rgb(0, 0, 0);
  margin: 5rem auto;
  background-color: rgb(175, 79, 6);
  border-radius: 3rem;
}
.informacion div div img {
  margin: 3rem;
}
.informacion div div p {
  text-align: center;
  margin: 3rem;
  font-size: 3rem;
  font-family: "Anton", sans-serif;
  color: white;
}

@media screen and (min-width: 1200px) {
  section div div div p {
    text-align: left;
    font-size: 2rem;
  }
}
.producto {
  margin-bottom: 3rem;
  background-color: rgb(24, 23, 23);
  border-radius: 2rem;
}

.boton {
  margin: 2rem auto;
  background-color: rgb(175, 79, 6);
  width: 100%;
  height: 4rem;
  text-align: center;
  font-size: 1.3rem;
  font-family: "Hind", sans-serif;
}

.info {
  background-color: black;
  border-radius: 2rem;
}

.tarjeta {
  background-color: black;
  border-radius: 2rem;
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.tablaTotal h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: "Hind", sans-serif;
  margin-bottom: 2rem;
}
.tablaTotal .items, .tablaTotal tbody {
  font-family: "Hind", sans-serif;
  font-size: 1.8rem;
}
.filtros {
  margin: 5rem auto;
  text-align: center;
}

.contacto {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  margin: 6rem;
}

.formulario {
  text-align: center;
  padding: 3rem;
  margin: 5rem auto;
  background-color: rgb(175, 79, 6);
  color: black;
  border: 6px solid #000000;
  border-radius: 3rem;
}
.formulario button {
  background-color: white;
  color: black;
  border-radius: 1rem;
  width: 10rem;
  height: 5rem;
  font-family: "Hind", sans-serif;
  font-size: 3rem;
  text-align: center;
}
.formulario .consulta, .formulario textarea, .formulario input {
  background-color: white;
  color: black;
  font-size: 3rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  height: 5rem;
  font-family: "Hind", sans-serif;
}
.boton_volver {
  text-align: center;
  margin: 5rem auto;
}
.boton_volver div div a button {
  width: 100%;
  height: 12rem;
  background-color: rgb(175, 79, 6);
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  border-radius: 1rem;
  margin: 5rem auto;
}

.nosotros h3 {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 5rem auto;
}
.nosotros p {
  font-family: "Hind", sans-serif;
  font-size: 2.2rem;
  color: rgb(0, 0, 0);
  margin: 5rem auto;
  text-align: center;
}

.imgNosotros {
  margin: 5rem auto;
  border-radius: 2rem;
}

.album, .foto {
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: 5px solid rgb(175, 79, 6);
  padding: 4rem;
  border-radius: 2rem;
}
.album h2, .foto h2 {
  color: black;
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-top: 5rem;
}

.foto {
  padding: 0;
  border: 3px solid orangered;
  margin-top: 6rem;
  margin-bottom: 6rem;
}/*# sourceMappingURL=styles.css.map */