@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&family=Kanit:wght@800&family=Roboto:wght@300&family=Titillium+Web&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header {
  background-color: #f5dbb4;
}
header h1 {
  color: rgb(255, 255, 255);
  background-color: #e78718;
  font-family: "Kanit", sans-serif;
  text-align: center;
  padding: 4rem;
  font-size: 4.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
header h2 {
  color: rgb(26, 25, 25);
  font-family: "Hind", sans-serif;
  text-align: center;
  padding: 4rem;
  font-size: 4.5rem;
}
header div p {
  text-align: left;
  padding-bottom: 4rem;
  font-size: 2.5rem;
  color: #0f0505;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
header img {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.navegador {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.logo {
  width: 12rem;
  height: 12rem;
}

body {
  background-color: #f3e4d2;
}

footer {
  background-color: #f5dbb4;
  font-family: "Kanit", sans-serif;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

h1 {
  color: rgb(175, 47, 5);
  font-family: "Kanit", sans-serif;
  text-align: center;
  padding: 4rem;
  font-size: 4.5rem;
}

h2 {
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  padding: 2rem;
  border: 1rem;
  margin: 1.5rem;
  font-size: 3.5rem;
  font-weight: 800;
}

h3 {
  color: rgb(184, 54, 40);
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
  padding: 3rem;
  border: 1.5rem;
  margin: 2rem;
}

h4 {
  color: rgb(97, 3, 3);
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

h5 {
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: "Hind", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
}

@media screen and (min-width: 600px) {
  nav ul img {
    width: 15rem;
    height: 15rem;
  }
  nav ul li {
    list-style-type: none;
    margin: 2rem;
  }
  h4 {
    color: rgb(97, 3, 3);
    font-family: "Titillium Web", sans-serif;
    font-size: 1.6rem;
    text-align: center;
  }
}
a .imgActividades {
  height: 10rem;
  width: 10rem;
  margin: 2rem;
  transition: height 1s, width 1s;
}

a:hover .imgActividades {
  height: 7rem;
  width: 7rem;
}

.imgBoulevard {
  margin: 6rem;
}

.margen p {
  background-color: #e78718;
}
.margen a {
  text-decoration: none;
  color: rgb(71, 47, 3);
}

.album, .foto {
  background-color: #f1ba7b;
  margin-bottom: 5rem;
}
.album h2, .foto h2 {
  color: black;
}

.foto {
  border: 3px solid orangered;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

@media screen and (min-width: 600px) {
  a .imgActividades {
    margin: 4rem;
    transition: height 1s, width 1s;
  }
  a:hover .imgActividades {
    height: 7rem;
    width: 7rem;
  }
  .altura {
    height: 60rem;
  }
}
@media screen and (min-width: 1150px) {
  a .imgActividades {
    margin: 2rem;
    transition: height 1s, width 1s;
  }
  a:hover .imgActividades {
    height: 8rem;
    width: 8rem;
  }
  .imgIntro div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .altura {
    height: 30rem;
  }
  .alturaInicio {
    height: 60rem;
  }
}
.color {
  color: rgb(175, 79, 6);
  font-size: 3.5rem;
  font-weight: 800;
}

.actividadMusculacion {
  text-align: center;
  margin: 2rem;
}

section {
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.margen {
  margin-bottom: 20rem;
  margin-top: 10rem;
}

.producto {
  margin-bottom: 3rem;
  background-color: rgb(24, 23, 23);
}

.boton {
  margin: 2rem;
  background-color: black;
}

.info {
  background-color: rgb(24, 23, 23);
}

.tarjeta {
  background-color: rgb(92, 39, 2);
}

.contacto {
  font-family: "Rubik", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  margin: 6rem;
}

.formulario {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  font-size: 3rem;
  color: aliceblue;
  font-family: "Rubik", sans-serif;
  width: 70rem;
  height: 40rem;
}

@media screen and (min-width: 1150px) {
  main p {
    font-size: 2.5rem;
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */